@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Light/GothamPro-Light.eot');
	src: url('../fonts/GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
		 url('../fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype'),
		 url('../fonts/GothamPro-Light/GothamPro-Light.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro/GothamPro.woff') format('woff'),
		 url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
		 url('../fonts/GothamPro/GothamPro.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot');
	src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
		 url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype'),
		 url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
		 url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
		 url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Black/GothamPro-Black.eot');
	src: url('../fonts/GothamPro-Black/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),
		 url('../fonts/GothamPro-Black/GothamPro-Black.ttf') format('truetype'),
		 url('../fonts/GothamPro-Black/GothamPro-Black.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 900;
}