/*START RESET*/

html
{
	box-sizing: border-box;
	overflow-x: hidden;
}
*,
*:before,
*:after
{
	box-sizing: inherit;
}
img
{
	box-sizing: content-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
	display: block;
}
*
{
	outline: 0 none;
}
body
{
	line-height: 1.2;
	background: #fff;
	font-family: 'GothamPro';
	color: #000;
	overflow-x: hidden !important;
	width: 100%;
}
.more
{
	color: #3498db;
    cursor: pointer;
}
ol,
ul
{
	list-style: none;
}
blockquote,
q
{
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/

::-webkit-input-placeholder
{
	color: #b3b3b3 !important;
}
::-moz-placeholder
{
	color: #b3b3b3 !important;
}
:-ms-input-placeholder
{
	color: #b3b3b3 !important;
}
.block
{
	/*background: #edeef0 url(../images/banner.jpg) no-repeat;*/
	background-position: 95% 100% !important;
	/*background-position: right bottom !important;*/
/*	background-size: 1920px !important;*/
	background-repeat: no-repeat !important;
}
.block h1.title
{
	font-family: 'GothamPro';
	font-weight: 900;
	font-size: 48px;
	color: #3498db;
	width: 520px;
	margin-top: 80px;
	line-height: 1.2;
	text-transform: uppercase;
}
.block p.text
{
	font-family: 'GothamPro';
	font-weight: 300;
	font-size: 18px;
	color: #000;
	margin-top: 16px;
	margin-bottom: 20px;
	width: 390px;
}
.block .forma
{
	box-shadow: 0px 6px 45.43px 13.57px rgba(0, 0, 0, 0.05);
	width: 458px;
	background-color: #fff;
	position: relative;
}
.bg-block.magica-notte .block .forma
{
	margin-bottom: 105px;
}
.block .forma form
{
	padding: 50px 55px 20px;
	text-align: center;
	background: #fff;
}
.block .forma form input.error
{
	border: 1px solid red !important;
}
.block .forma form input.success
{
	border: 1px solid green !important;
}
.block .forma form.form2
{
	padding-top: 40px;
}
.block .forma form.form2 input
{
	margin-bottom: 8px;
}
.block .forma form.form2 .button
{
	margin-top: 25px;
}
.block .forma form input
{
	width: 100%;
	height: 35px;
	margin-bottom: 21px;
	padding: 0 20px;
}
/*.block .forma #tab2 input*/
/*{*/
	/*margin-bottom: 10px;*/
/*}*/
.block .forma form input[type="text"],
.block .forma form input[type="email"],
.block .forma form input[type="tel"]
{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 13px;
	font-weight: 500;
	line-height: 37px;
	color: #000;
	box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
}
.block .forma form textarea
{
	width: 100%;
	height: 79px;
	font-size: 13px;
	font-weight: 500;
	color: #b3b3b3;
	border: 1px solid #cccccc;
	box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
	resize: none;
	padding: 10px 20px;
}
.block .forma form .select
{
	display: block;
	position: relative;
}
.block .forma form .select:before
{
	content: '\f078';
	font-family: 'FontAwesome';
	position: absolute;
	right: 13px;
	top: 22px;
	font-size: 7px;
	color: #3498db;
	pointer-events: none;
}
.block .forma form .select + p
{
	margin-bottom: 0 !important;
}
.block .forma form .select select
{
	width: 100%;
	height: 34px;
	border: 1px solid #cccccc;
	box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
	margin-top: 9px;
	font-weight: 500;
	font-size: 13px;
	color: #000;
	padding: 0 40px 0 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
	cursor: pointer;
}
.block .forma form .select select:-ms-expand
{
	display: none;
}
.block .forma .nav-tabs
{
	height: 8px;
}
.block .forma .nav-tabs li
{
	width: calc(100% / 2 - 0.40px);
	display: inline-block;
	vertical-align: top;
}
.block .forma .nav-tabs li:nth-of-type(1)
{
	margin-right: -2px;
}
.block .forma .nav-tabs li:nth-of-type(2)
{
	margin-left: -2px;
}
.block .forma .nav-tabs li a
{
	display: block;
	text-align: center;
	color: #000;
	font-size: 16px;
	line-height: 40px;
	background-color: #f5f5f5;
}
.block .forma .nav-tabs li.active a
{
	background-color: #2ecc71;
	color: #fff;
}
.block .forma .tab-pane
{
	display: none;
}
.block .forma .tab-pane.active
{
	display: block;
}
.block .forma p
{
	font-weight: 400;
	font-size: 20px;
	font-family: 'GothamPro';
	line-height: 1.424;
}
.block .forma .button
{
	background-color: #3498db;
	width: 306px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'GothamPro';
	border: none;
	display: table;
	margin: 0px auto 8px;
}
.block .forma #tab2 .button
{
	margin: 18px auto 0px;
}
.block .forma .button:hover
{
	background: #2383ba;
}
.block .forma img.ajax-loader
{
	display: none;
}
.video-block
{
	text-align: center;
}
.video-block .video
{
	position: relative;
	width: 750px;
	display: table;
	margin: 50px auto 37px;
	overflow: hidden;
}
.video-block .video iframe
{
	width: 100%;
	height: 468px;
}
.video-block h2.title
{
	font-size: 36px;
	font-weight: 700;
	font-family: 'GothamPro';
}
.video-block h4.title
{
	font-family: 'GothamPro';
	font-size: 24px;
	color: #2ecc71;
	font-weight: 700;
	vertical-align: middle;
	margin-top: 24px;
}
.video-block h4.title i:before
{
	font-size: 36px;
	color: #439edc;
	line-height: 1;
	position: relative;
	top: 3px;
	margin-left: 2px;
	margin-right: 10px;
}
.video-block h4.title span
{
	color: #000;
	font-weight: 400;
	position: relative;
}
.video-block h4.title span:before
{
	content: '';
	width: 100%;
	position: absolute;
	height: 1px;
	background: #000;
	top: 50%;
	left: 0;
	right: 0;
}
.video-block a.button
{
	width: 360px;
	height: 62px;
	line-height: 62px;
	background: #3498db;
	text-align: center;
	display: table;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 900;
	font-family: 'GothamPro';
	color: #fff;
	margin-top: 40px;
	margin-bottom: 70px;
}
.video-block a.button:hover
{
	background: #2383ba;
}
.block-3
{
	background-color: #f5f5f5;
}
.block-3 .col-lg-12
{
	position: relative;
}
.block-3 img
{
	display: inline-block;
	position: absolute;
	bottom: 0;
}
.block-3 .text
{
	display: inline-block;
	width: calc(100% - 345px);
	vertical-align: top;
	padding-top: 28px;
	float: right;
	padding-left: 70px;
	padding-bottom: 35px;
}
.block-3 .text h4.title
{
	color: #3498db;
	font-family: 'GothamPro';
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #3498db;
	margin-top: 25px;
	margin-bottom: 3px;
}
.block-3 .text p
{
	color: #000;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	font-family: 'GothamPro';
}
.block-4 .reviews
{
	padding: 84px 0 0px;
}
.block-4 .reviews .reviews-item
{
	width: calc(100% / 3.05);
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 15px;
}
.block-4 .reviews .reviews-item .photo
{
	width: 169px;
	height: 169px;
	border-radius: 50%;
	background-size: cover;
	display: table;
	margin: 0 auto 18px;
}
.block-4 .reviews .reviews-item h3.title
{
	font-family: 'GothamPro';
	font-weight: 500;
	font-size: 24px;
	color: #489fdd;
}
.block-4 .reviews .reviews-item p
{
	font-size: 16px;
	font-weight: 300;
	font-family: 'GothamPro';
	margin: 20px 0 40px;
}
.block-4 .reviews .reviews-slider
{
	display: none;
}
/*.block-5 {*/
/*background-color: #f5f5f5;*/
/*padding-top: 55px;*/
/*}*/

.block-5 img
{
	position: absolute;
	top: -125px;
	left: 125px;
	right: 0;
	display: table;
	margin: 0 auto;
	z-index: 0;
	pointer-events: none;
}
.block-5 .forma
{
	box-shadow: 0px 6px 45.43px 13.57px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	width: 750px;
	margin: 0 auto;
	display: table;
}
.block-5 .forma form
{
	padding: 45px 50px 20px;
	text-align: center;
	background: #fff;
}
.block-5 .forma form input.error
{
	border: 1px solid red !important;
}
.block-5 .forma form input.success
{
	border: 1px solid green !important;
}
.block-5 .forma form.form2
{
	padding-top: 40px;
}
.block-5 .forma form.form2 input
{
	margin-bottom: 12px;
}
.block-5 .forma form.form2 .button
{
	margin-top: 15px;
	margin-bottom: 0 !important;
}
.block-5 .forma form.form2 p
{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	font-family: 'GothamPro';
}
.block-5 .forma form div
{
	width: 405px;
	margin-left: auto;
	margin-right: auto;
}
.block-5 .forma form input
{
	width: 405px;
	height: 45px;
	margin-bottom: 25.8px;
	padding: 0 20px;
}
.block-5 .forma form input.error
{
	border: 1px solid red;
}
.block-5 .forma form input.saccess
{
	border: 1px solid green;
}
.block-5 .forma form input[type="text"],
.block-5 .forma form input[type="email"],
.block-5 .forma form input[type="tel"]
{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 16px;
	line-height: 47px;
	font-weight: 500;
	color: #000;
	box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
}
.block-5 .forma form textarea
{
	width: 405px;
	height: 105px;
	font-size: 16px;
	font-weight: 500;
	color: #b3b3b3;
	border: 1px solid #cccccc;
	box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
	resize: none;
	padding: 10px 20px;
}
.block-5 .forma form .select
{
	margin: 0 auto 15px;
	width: 405px;
	display: table;
	position: relative;
}
.block-5 .forma form .select:before
{
	content: '\f078';
	font-family: 'FontAwesome';
	position: absolute;
	right: 13px;
	top: 26px;
	font-size: 10px;
	color: #3498db;
	pointer-events: none;
}
.block-5 .forma form .select select
{
	width: 100%;
	height: 45px;
	border: 1px solid #cccccc;
	box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
	margin-top: 10px;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	padding: 0 40px 0 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
	cursor: pointer;
}
.block-5 .forma form .select select:-ms-expand
{
	display: none;
}
.block-5 .forma .nav-tabs
{
	height: 8px;
}
.block-5 .forma .nav-tabs li
{
	width: calc(100% / 2 - 0.40px);
	display: inline-block;
	vertical-align: top;
}
.block-5 .forma .nav-tabs li:nth-of-type(1)
{
	margin-right: -2px;
}
.block-5 .forma .nav-tabs li:nth-of-type(2)
{
	margin-left: -2px;
}
.block-5 .forma .nav-tabs li a
{
	display: block;
	text-align: center;
	color: #000;
	font-size: 16px;
	line-height: 40px;
	background-color: #f5f5f5;
}
.block-5 .forma .nav-tabs li.active a
{
	background-color: #2ecc71;
	color: #fff;
}
.block-5 .forma .tab-pane
{
	display: none;
}
.block-5 .forma .tab-pane.active
{
	display: block;
}
.block-5 .forma #tab3 p
{
	margin: 20px auto;
}
.block-5 .forma #tab4 p
{
	font-size: 12px;
	margin: 25px 0 0px;
}
.block-5 .forma #tab4 .button
{
	margin: 0 auto !important;
}
.block-5 .forma #tab4 form
{
	padding: 45px 50px 20px;
}
.block-5 .forma #tab4 input
.block-5 .forma p
{
	font-weight: 400;
	font-size: 24px;
	font-family: 'GothamPro';
	margin-bottom: 23px;
	color: #000;
	line-height: 1.5;
	margin: 0 auto;
}
.block-5 .forma p:last-of-type
{
	margin-bottom: 0 !important;
}
.block-5 .forma .button
{
	background-color: #3498db;
	width: 306px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'GothamPro';
	border: none;
	margin-top: 2px;
}
.block-5 .forma .button:hover
{
	background: #2383ba;
}
.confirmation-page + footer
{
	background: transparent;
}
.confirmation-page + footer .copyright p
{
	color: #000;
}
.confirmation-page .confirmation
{
	min-height: calc(100vh - 136px);
	position: relative;
}
.confirmation-page .confirmation h2.title
{
	font-size: 48px;
	font-weight: 900;
	color: #3498db;
	font-family: 'GothamPro';
	margin-top: 74px;
	margin-bottom: 5px;
}
.confirmation-page .confirmation p
{
	margin-top: 30px;
	font-size: 24px;
	font-family: 'GothamPro';
	font-weight: 300;
	color: #000;
}
.confirmation-page .confirmation .button
{
	background-color: #3498db;
	width: 306px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	font-weight: 900;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'GothamPro';
	border: none;
	margin-top: 2px;
}
.confirmation-page .confirmation .description
{
	padding-top: 67px;
}
form div
{
	position: relative;
}
.error + .error-messages
{
	display: block;
}
.error-messages
{
	display: none;
	position: absolute;
	font-size: 12px !important;
	bottom: 4px;
	margin-bottom: 0 !important;
	color: #f00 !important;
}
.wpcf7-form-control-wrap + p
{
	display: none;
}
#tab3
{
	padding-bottom: 21.9px;
}
.confirmation-page .confirmation .last
{
	margin-top: 60px !important;
}
footer
{
	background: #3498db;
}
footer .copyright p
{
	font-family: 'GothamPro';
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 50px 0;
}
.bg-block.magica-notte
{
	background-position: right bottom;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.block-2.magica-notte
{
	padding-top: 90px;
	padding-bottom: 40px;
}
.block-2.magica-notte .item
{
	width: calc(100% / 3.05);
	display: inline-block;
	text-align: center;
	padding: 0 20px;
	vertical-align: top;
}
.block-2.magica-notte .item h4.title
{
	font-size: 24px;
	color: #000;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 25px;
}
.block-2.magica-notte .item .img
{
	height: 115px;
	vertical-align: middle;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 27px;
}
.block-2.magica-notte .item .img img
{
	margin: auto;
}
.block-2.magica-notte .item p
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	margin-bottom: 15px;
}
.bg-block-3.magica-notte
{
	background: url(../images/bg-block-3.png) no-repeat;
	background-position: right bottom;
}
.bg-block-3.magica-notte .block-3
{
	min-height: 936px;
	background: transparent;
}
.bg-block-3.magica-notte .block-3 h2.title
{
	font-size: 32px;
	line-height: 48px;
	color: #3498db;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	width: 520px;
	padding-top: 70px;
	margin-bottom: 20px;
}
.bg-block-3.magica-notte .block-3 .description
{
	width: 570px;
}
.bg-block-3.magica-notte .block-3 .description p
{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 20px;
}
.bg-block-3.magica-notte .block-3 .description p span
{
	color: #373737;
	font-size: 18px;
}
.bg-block-3.magica-notte .block-3 .description p b
{
	color: #3498db;
	font-weight: 500;
}
.bg-block-3.magica-notte .block-3 .description p.mini
{
	font-size: 14px;
	font-weight: 400;
}
.bg-block-3.magica-notte .block-3 .description p.ttu
{
	text-transform: uppercase;
}
.bg-block-5
{
	background-size: cover;
}
.bg-block-5.magica-notte .block-5 .forma
{
	width: 458px;
	margin: 0 auto;
	display: table;
	background-color: #fff;
	margin-top: 60px;
}
.bg-block-5.magica-notte .block-5 .forma #tab4
{
	padding-top: 0px;
	padding-bottom: 0px;
}
.bg-block-5.magica-notte .block-5 .forma #tab4 form
{
	padding: 72px 55px 38.9px;
	text-align: center;
	background: #fff;
}
.bg-block-5.magica-notte
{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center bottom;
}
/*.block-5 .forma #tab4 input*/
/*{*/
	/*margin-bottom: 8px !important;*/
/*}*/
.bg-block.magica-notte .block .forma:before
{
	content: '';
	width: 332px;
	height: 348px;
	background: url(../images/images.png) no-repeat;
	background-size: 100%;
	position: absolute;
	right: -300px;
	bottom: -50px;
}
.bg-block-3.magica-notte a.button
{
	width: 260px;
	height: 62px;
	line-height: 62px;
	background: #3498db;
	text-align: center;
	display: table;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 900;
	font-family: 'GothamPro';
	color: #fff;
	margin-top: 40px;
	margin-bottom: 15px;
}
.bg-block-3.magica-notte
{
	position: relative;
	background-color: #f8f8f8;
}
.bg-block-3.magica-notte a.button:hover
{
	background: #2383ba;
}
.block-4
{
	padding-bottom: 100px;
}
.bg-block-3.magica-notte .block-3 img
{
	position: relative;
}
input.chernigivske
{
	width: 120px;
	margin-top: 20px;
}
.block-4.magica-notte
{
	padding-bottom: 0;
}
.silver-wash sap
{
	font-style: italic;
}
.silver-wash .bg-block h1.title
{
	font-size: 72px;
	color: #3498db;
	font-weight: 700;
	margin: 50px 0 20px;
}
.silver-wash .bg-block h5.title
{
	font-size: 30px;
	color: #3498db;
	font-weight: 400;
	margin-bottom: 25px;
	max-width: 620px;
	line-height: 36px;
}
.silver-wash .bg-block h5.title b
{
	font-weight: 700;
}
.silver-wash .bg-block p.text
{
	font-size: 18px;
	color: #373737;
	font-weight: 300;
	max-width: 560px;
	line-height: 27px;
	margin-bottom: 70px;
}
.silver-wash .bg-block p.text + h5.title
{
	margin-bottom: 15px;
}
.silver-wash .bg-block p.ordina
{
	color: #272727;
	font-weight: 500;
	font-size: 21px;
	line-height: 27px;
	margin-bottom: 40px;
}
.silver-wash .bg-block p.ordina i
{
	position: relative;
}
.silver-wash .bg-block p.ordina i:before
{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	-webkit-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	-o-transform: rotate(-14deg);
	transform: rotate(-14deg);
	top: 12px;
}
.silver-wash .bg-block p.ordina span
{
	color: #3498db;
}
.silver-wash .bg-block h4.title
{
	color: #3498db;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	margin-top: 70px;
}
.silver-wash .bg-block h4.title + p
{
	color: #272727;
	font-weight: 500;
	font-size: 21px;
	margin-bottom: 20px;
}
.silver-wash .bg-block h4.title + p span
{
	color: #3498db;
}
.silver-wash .bg-block img.silver-wash
{
	position: absolute;
	bottom: 47px;
	left: 515px;
}
.silver-wash .bg-block .content
{
	position: relative;
	padding-bottom: 159px;
}
.silver-wash .why-we
{
	padding-top: 100px;
}
.silver-wash .why-we h2.title
{
	text-align: center;
	font-weight: 700;
	font-size: 48px;
	color: #3498db;
	margin-bottom: 73px;
}
.silver-wash .why-we .items .item
{
	width: calc(100% / 2.05);
	display: inline-block;
	margin-bottom: 120px;
	margin-top: 20px;
}
.silver-wash .why-we .items .item:nth-of-type(1) img
{
	margin-right: 57px;
}
.silver-wash .why-we .items .item:nth-of-type(2) img
{
	margin-right: 43px;
}
.silver-wash .why-we .items .item:nth-of-type(3) img
{
	margin-right: 64px;
	margin-left: 10px;
}
.silver-wash .why-we .items .item:nth-of-type(4) img
{
	margin-right: 59px;
	margin-left: 10px;
}
.silver-wash .why-we .items .item img
{
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
.silver-wash .why-we .items .item .description
{
	display: inline-block;
	max-width: 350px;
	vertical-align: middle;
}
.silver-wash .why-we .items .item .description h5.title
{
	font-weight: 500;
	font-size: 24px;
	color: #3498db;
	margin-bottom: 25px;
}
.silver-wash .why-we .items .item .description p.text
{
	color: #272727;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}
.silver-wash a.button
{
	width: 330px;
	height: 49px;
	background-color: #3498db;
	line-height: 49px;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
	display: table;
	text-align: center;
	margin-top: 25px;
}
.silver-wash a.button:hover
{
	background: #2383ba;
}
.silver-wash .ecco
{
	background: url(../images/bg-ecco.png) no-repeat;
	min-height: 982px;
	background-position: bottom center;
}
.silver-wash .ecco .description
{
	max-width: 760px;
	float: right;
	text-align: right;
}
.silver-wash .ecco .description h2.title
{
	font-size: 48px;
	color: #3498db;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
	margin-top: 85px;
}
.silver-wash .ecco .description h5.title
{
	font-weight: 700;
	font-size: 24px;
	color: #272727;
}
.silver-wash .ecco .description p.text
{
	color: #272727;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	max-width: 670px;
	float: right;
	margin-top: 30px;
}
.silver-wash .why
{
	padding-bottom: 70px;
}
.silver-wash .why .item
{
	width: calc(100% / 2.05);
	display: inline-block;
	margin-top: 110px;
}
.silver-wash .why .item img
{
	width: 207px;
	height: 207px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
}
.silver-wash .why .item .description
{
	display: inline-block;
	width: calc(100% - 213px);
	padding-left: 40px;
	padding-right: 15px;
}
.silver-wash .why .item .description h3.title
{
	color: #3498db;
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 10px;
}
.silver-wash .why .item .description p.text
{
	color: #272727;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}
.silver-wash .video-silver-wash
{
	padding: 60px 0 140px;
	text-align: center;
}
.silver-wash .video-silver-wash h2.title
{
	font-size: 48px;
	font-weight: 700;
	line-height: 45px;
	color: #3498db;
}
.silver-wash .video-silver-wash p.text
{
	font-weight: 400;
	font-size: 24px;
	margin: 20px 0 70px;
}
.silver-wash .video-silver-wash iframe
{
	border-radius: 10px;
}
.silver-wash .video-silver-wash iframe:first-of-type
{
	margin-right: 15px;
}
.silver-wash .buy
{
	background: url(../images/bg-bay.png) no-repeat;
}
.silver-wash .buy .items
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	min-height: 718px;
	justify-content: center;
}
.silver-wash .buy .item
{
	max-width: 360px;
	background-color: #ffffff;
	box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.06);
	border: 1px solid #ddd;
	display: inline-block;
	text-align: center;
	margin: 0px 65px;
	min-height: 527px;
}
.silver-wash .buy .item:nth-of-type(1)
{
	margin-left: 0;
}
.silver-wash .buy .item:nth-of-type(1) .bottom p {
    margin-top: 62px;
}
.silver-wash .block-4
{
	padding-bottom: 0 !important;
}
.silver-wash .reviews
{
	padding-bottom: 20px !important;
}
.silver-wash .buy .item:nth-of-type(2)
{
	margin-right: 0;
}
.silver-wash .buy .item .header
{
	background-color: #3498db;
	padding: 35px 0;
}
.silver-wash .buy .item .header p
{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.silver-wash .buy .item .header p b
{
	font-weight: 500;
	text-transform: uppercase;
}
.silver-wash .buy .item .header h2.title
{
	font-size: 60px;
	color: #fff;
	font-weight: 500;
	margin: 15px 0 20px;
	position: relative;
}
.silver-wash .buy .item .header h2.title sap
{
	font-size: 18px;
	font-style: italic;
	position: absolute;
	margin-left: -20px;
	margin-top: 8px;
}
.silver-wash .buy .item .bottom
{
	padding: 0 54px 54px;
}
.silver-wash .buy .item .bottom p
{
	margin-top: 35px;
	font-size: 16px;
	font-weight: 400;
	color: #272727;
}
.silver-wash .buy .item .bottom a.button
{
	width: 250px;
	margin-top: 45px;
}
.silver-wash .reviews
{
	padding: 84px 0 90px;
}
.silver-wash .reviews h2.title
{
	font-size: 48px;
	font-weight: 700;
	color: #3498db;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 75px;
}
.silver-wash .description-block
{
	background: url(../images/bg-last-block.png) no-repeat;
	background-position: center bottom;
	padding-bottom: 104px;
}
.silver-wash .description-block h2.title
{
	font-size: 48px;
	font-weight: 700;
	color: #3498db;
	text-transform: uppercase;
	text-align: center;
	margin: 0px 0 75px;
}
.silver-wash .description-block ul
{
	margin-bottom: 410px;
}
.silver-wash .description-block ul li
{
	width: calc(100% / 2 - 3px);
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}
.silver-wash .description-block ul li img
{
	width: 75px;
	display: inline-block;
}
.silver-wash .description-block ul li p
{
	padding-left: 20px;
	line-height: 27px;
	font-size: 18px;
	font-weight: 400;
	width: calc(100% - 80px);
	display: inline-block;
	vertical-align: top;
}
.silver-wash .description-block ul li p b
{
	line-height: 36px;
	font-size: 24px;
	font-weight: 700;
	display: block;
}
.silver-wash .description-block ul li p span
{
	padding-right: 15px;
}
.silver-wash .description-block .bottom-description
{
	text-align: center;
}
.silver-wash .description-block .bottom-description h3.title
{
	font-size: 30px;
	color: #3498db;
	font-weight: 700;
	line-height: 36px;
	max-width: 620px;
	margin: 55px auto 20px;
	display: table;
}
.silver-wash .description-block .bottom-description p.ordina
{
	color: #272727;
	font-weight: 500;
	font-size: 21px;
	line-height: 27px;
	margin-bottom: 40px;
}
.silver-wash .description-block .bottom-description p.ordina i
{
	position: relative;
}
.silver-wash .description-block .bottom-description p.ordina i:before
{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	-webkit-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	-o-transform: rotate(-14deg);
	transform: rotate(-14deg);
	top: 12px;
}
.silver-wash .description-block .bottom-description p.ordina span
{
	color: #3498db;
}
.silver-wash .description-block .bottom-description p
{
	color: #272727;
	font-weight: 500;
	font-size: 21px;
	margin-bottom: 25px;
}
.silver-wash .description-block .bottom-description p span
{
	color: #3498db;
	font-size: 24px;
}
.silver-wash .description-block .bottom-description a.button
{
	display: table;
	margin: 0 auto;
}
.silver-wash .description-block .bottom-description a.button + h3.title
{
	margin-bottom: 10px;
}
.car-sofa a.button 
{
    width: 100%;
    height: 49px;
    background-color: #3498db;
    line-height: 49px;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    display: table;
    text-align: center;
    margin: 30px auto 0 !important;
}
.car-sofa a.button:hover
{
    background: #2383ba;
}
.car-sofa .bg-block
{
    background-position: 95% 330px, right bottom !important;
    background-repeat: no-repeat;
}
.car-sofa .video-silver-wash 
{
    padding: 40px 0 82px !important;
    text-align: center;
}
.car-sofa .video-silver-wash h2.title
{
    font-size: 48px;
    font-weight: 700;
    line-height: 45px;
    color: #3498db;
}
.car-sofa .video-silver-wash iframe:first-of-type {
    margin-right: 15px;
}
.car-sofa .video-silver-wash iframe {
    border-radius: 10px;
}
.car-sofa .video-silver-wash p.text 
{
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0 70px;
}
.car-sofa .block h1.title 
{
    max-width: 575px;
    width: 100%;
    font-size: 48px;
    font-family: 'GothamPro';
    color: #3498db;
    font-weight: 700;
    margin-top: 0;
    padding-top: 80px;
    margin-bottom: 75px;
}
.car-sofa .why-we .items .item 
{
    width: calc(100% / 2.05);
    display: inline-block;
    margin-bottom: 75px;
    margin-top: 20px;
}

.car-sofa .why-we .items .item .description {
    display: inline-block;
    max-width: 350px;
    vertical-align: middle;
}
.car-sofa .why-we .items .item img
{
    vertical-align: middle;
}
.car-sofa .buy .items 
{
    display: block !important;
}
.car-sofa .buy .items .item
{
    width: calc(100% / 3.05 - 16px);
    display: inline-block;
}
.car-sofa .bg-block .block 
{
    min-height: 1060px;
}
.car-sofa .why-we .item p.text 
{
    font-size: 28px !important;
    line-height: 48px !important;
}
.car-sofa .why-we .item:nth-of-type(1) img
{
    margin-right: 57px;
}
.car-sofa .why-we .item:nth-of-type(2) img
{
    margin-right: 76px;
    margin-left: 40px;
}
.car-sofa .why-we .item:nth-of-type(3) img 
{
    margin-right: 48px;
    margin-left: 0px;
}
.car-sofa .why-we .item:nth-of-type(4) img 
{
    margin-right: 57px;
    margin-left: 10px;
}
.car-sofa .transforma 
{
    text-align: center;
    padding-bottom: 100px;
}
.car-sofa .transforma h2.title 
{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #3498db;
    text-transform: uppercase;
    max-width: 770px;
    display: table;
    margin: 0 auto;
}
.car-sofa h2.title.form-bottom
{
	font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #3498db;
	display: table;
    margin: 0 auto;
    text-transform: uppercase;
}
.car-sofa .transforma h2.title + p.text 
{
    font-size: 24px;
    color: #373737;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    max-width: 920px;
    display: table;
    margin: 55px auto;
    line-height: 1.2;
}
.car-sofa .transforma .item 
{
    width: calc(100% / 3.05);
    display: inline-block;
    background: url(../images/bg-item.png) no-repeat;
    background-position: center bottom;
    padding: 0 20px 40px;
}
.car-sofa .transforma .item h3.title 
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #3498db;
    font-weight: 500;
    margin-bottom: 30px;
}
.car-sofa .transforma .item p.text
{
    font-size: 18px;
    line-height: 27px;
    color: #272727;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.car-sofa .transforma.descripton
{
    padding: 45px 0 0px !important;
}
.car-sofa .transforma.descripton h2.title 
{
    max-width: 100%;
}
.car-sofa .transforma.descripton h2.title span
{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    display: block;
}
.car-sofa .transforma.descripton .item 
{
    vertical-align: top;
    background: transparent;
}
.car-sofa .transforma.descripton .item img 
{
    margin-bottom: 10px;
}
.car-sofa .transforma.descripton p.text 
{
    color: #272727;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px !important;
    max-width: 100% !important;
}
.car-sofa .transforma.descripton p.text b 
{
    font-weight: 700;
    display: block;
}
.car-sofa .caratteristiche 
{
    background: url(../images/caratteristiche-bg2.png), url(../images/caratteristiche-bg.png);
    background-repeat: no-repeat;
    background-position: 24% 513px, left bottom;
    min-height: 925px;
    text-align: right;
}
.car-sofa .caratteristiche h2.title
{
    color: #3498db;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    margin: 75px 0 50px;
}
.car-sofa .caratteristiche p.text
{
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.car-sofa .caratteristiche p.text:last-of-type 
{
    margin-top: 80px;
    line-height: 2.5;
}
.car-sofa .caratteristiche p.text span 
{
    font-weight: 500;
    color: #3498db;
}
.car-sofa .caratteristiche h5.title 
{
    color: #272727;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 25px;
}
.car-sofa .caratteristiche .content
{
    width: 685px;
    float: right;
}
.car-sofa .buy 
{
    padding-top: 85px;
}
.car-sofa .buy h2.title 
{
    color: #3498db;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    max-width: 800px;
    display: table;
    margin: 0 auto 50px;
    text-align: center;
}
.car-sofa .buy .items 
{
    display: inline-block;
    text-align: center;
}
.car-sofa .buy .items .item 
{
    margin: 0 28px 40px 0 !important;
    padding: 30px 35px 38px;
    background-color: #faf9f9;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.12);
}
.car-sofa .buy .items .item:nth-of-type(3n) 
{
    margin-right: 0 !important;
}
.car-sofa .buy .items .item .header {
    background: transparent;
    position: relative;
    padding: 0;
}
.car-sofa .bg-block .button.mobile
{
	display: none;
}
.car-sofa .buy .items .item .header p.sconto
{
    position: absolute;
    top: 0;
    left: 0;
    background: #3498db;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 5px;
}
.car-sofa .buy .items .item .bottom
{
    padding: 0 !important;
}
.car-sofa .buy .items .item .bottom h3.title
{
    color: #3498db;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 26px;
}
.car-sofa .buy .items .item .bottom h2.title 
{
    color: #3498db;
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}
.car-sofa .buy .items .item .bottom h2.title span 
{
    font-weight: 300;
}
.car-sofa .buy .items .item .bottom p.text
{
    margin-top: 0;
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.car-sofa .video-silver-wash 
{
    padding-bottom: 170px;
}
.car-sofa .bg-block-5 
{
    background-image: url(../images/forma-bottom-bg2.png), url(../images/forma-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    -webkit-background-size: inherit;
    background-size: inherit;
	padding-top: 40px;
}
.car-sofa .block-4
{
    padding-bottom: 0 !important;
}
.car-sofa .bg-block-5 .block-5 .forma
{
    margin: 40px auto 80px !important;
}
.car-sofa .block .forma form .select 
{
	margin-bottom: 10px;
	margin-top: 0px;
}
.car-sofa .block .forma form .select select
{
	margin-top: 6px;
}
.car-sofa .forma .notation
{
	font-size: 12px !important;
	margin-bottom: 5px;
}
.car-sofa .block-5 .forma .notation + p
{
	margin-top: 0 !important;
}
.car-sofa .block-5 .forma .select select
{
	margin-top: 0 !important;
}
.car-sofa .block-5 .forma .notation + p select
{
	margin-top: 0 !important;
}
.lettino .bg-block
{
	background: url(../images/lettiono-bg.png) no-repeat 60% 100% !important;
}
.lettino .bg-block .block h1.title
{
	max-width: 580px;
	width: auto;
}
.lettino .block-2
{
	padding-bottom: 20px;
}
.lettino .block-2 .item:nth-of-type(3) h4.title
{
	margin-bottom: 0;
}
.lettino .block-2 .item p
{
	line-height: 24px;
}
.lettino .block-2 .item h4.title
{
	line-height: 1.3;
	margin-bottom: 30px;
}
.lettino .video-block
{
	padding-bottom: 90px;
}
.lettino .video-block h4.title
{
	color: #272727;
	font-weight: 400;
}
.lettino .video-block h4.title b
{
	font-weight: 500;
	color: #3498db;
}
.lettino .video-block a.button
{
	margin-bottom: 0;
}
.lettino .video-block .video iframe
{
	border-radius: 10px;
	width: 825px;
}
.lettino .block-4 .reviews
{
	padding: 70px 0 20px;
}
.lettino .block-4 .reviews .reviews-item p
{
	line-height: 1.2;
}
.lettino .lettino-block-4
{
	background: url(../images/cat-bg.png) no-repeat bottom left;
	min-height: 734px;
}
.lettino .lettino-block-4 .content
{
	float: right;
}
.lettino .lettino-block-4 .content h2.title
{
	font-size: 48px;
	color: #3498db;
	font-weight: 700;
	width: 400px;
	margin-top: 130px;
	line-height: 1.4;
}
.lettino .lettino-block-4 .content ul
{
	margin-top: 50px;
}
.lettino .lettino-block-4 .content ul li
{
	font-size: 24px;
	font-weight: 500;
	color: #272727;
	line-height: 60px;
	position: relative;
	padding-left: 70px;
}
.lettino .lettino-block-4 .content ul li:before
{
	background: url(../images/li-before.png) no-repeat;
	content: '';
	position: absolute;
	width: 32px;
	height: 24px;
	left: 0;
	top: 15px;
}
.lettino .bg-block-5
{
	background: url(../images/lettino-bg-form-bottom2.png) no-repeat top left, url(../images/lettino-bg-form-bottom.png) no-repeat top right;
	min-height: 738px;
    -webkit-background-size: 667px, cover !important;
    background-size: 667px, cover !important;
}
.lettino .block .forma {

    margin-bottom: 100px;
}
.lettino .img-mobile
{
	display: none;
}
/*
.cat .block
{
	background: url(../images/vacuum.png) no-repeat bottom right, url(../images/cat-photo.png) no-repeat 90% bottom, #ebf0f3 !important;
}
.cat .block-3
{
	background: url(../images/vacuum-2.png) no-repeat left 23px, url(../images/cat-photo2.png) no-repeat left 85%, #ebf0f3 !important;
}
*/

.cat .block-5 img
{
	top: -231px;
	left: -76px;
}
.cat .block-5 .forma
{
	position: relative;
}
.cat .block-4 .reviews
{
	padding: 100px 0 140px;
}
footer .copyright p span
{
	display: block;
}
.cat .block-3 img
{
	bottom: inherit !important ;
	margin-top: 20px;
	margin-left: 75px;
}
.cat .block h1.title
{
    margin-top: 40px;
}
.block-5 .forma p.error-messages,
.forma p.error-messages{
    font-size: 12px !important;
}
@media only screen and (max-width: 1299px)
{
	.block
	{
		background-size: 1200px !important;
	}
    .cat .block
    {
        background-size: initial !important;
    }
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 1199px)
{
	.block-2.magica-notte .item h4.title
	{
		font-size: 20px;
	}
	.block-2.magica-notte .item p
	{
		font-size: 14px;
	}
	.bg-block-3.magica-notte
	{
		-webkit-background-size: 100%;
		background-size: 100%;
		background-color: #faf9f9;
	}
	.bg-block-3.magica-notte img
	{
		position: relative;
		width: 300px;
		margin-bottom: 70px;
	} 
	.bg-block-3.magica-notte .block-3
	{
		min-height: inherit;
	}
	.bg-block-5.magica-notte
	{
		background-image: none !important;
	}
	.bg-block-5.magica-notte .block-5 .forma
	{
		margin-top: 0;
	}
	.bg-block.magica-notte .block .forma::before
	{
		width: 200px;
		height: 208px;
		right: -167px;
		bottom: -50px;
	}
	.silver-wash .bg-block img.silver-wash
	{
		left: 400px;
	}
	.silver-wash .why-we .items .item .description
	{
		max-width: 300px;
	}
	.silver-wash .why .item
	{
		margin-top: 35px;
	}
	.silver-wash .why .item img
	{
		width: 150px;
		height: 150px;
		display: table;
		margin: 0 auto;
	}
	.silver-wash .why .item .description
	{
		width: 100%;
		padding-left: 15px;
		text-align: center;
	}
	.silver-wash .video-silver-wash iframe
	{
		width: 460px;
		height: 258px;
	}
     .car-sofa .why-we 
    {
         padding-top: 30px;
    }
     .car-sofa .why-we .item 
    {
         margin-bottom: 40px;
    }
    .car-sofa .why-we .item:nth-of-type(4) img 
    {
        margin-right: 15px;
        margin-left: 0px;
    }
    .car-sofa .why-we .item:nth-of-type(2) img 
    {
        margin-right: 45px;
        margin-left: 20px;
    }
    .car-sofa .why-we .item .description p.text
    {
        font-size: 24px !important;
    }
    .car-sofa .transforma h2.title + p.text br 
    {
        display: none;
    }
    .car-sofa .transforma .item 
    {
        width: calc(100% / 2.05);
        vertical-align: top;
        background-position: 80px center;
    }
    .car-sofa .caratteristiche
    {
        background-position: 5% 513px, left bottom;
    }
    .car-sofa .buy .items .item 
    {
        width: calc(100% / 2.05 - 16px);
        display: inline-block;
    }
    .car-sofa .buy .items .item:nth-of-type(2n)
    {
        margin-right: 0 !important;
    }
    .car-sofa .buy .items .item:nth-of-type(3n)
    {
        margin-right: 28px !important;
    }
    .car-sofa .buy .items .item .header img
    {
        width: 100%;
    }
    .car-sofa  .video-silver-wash iframe
    {
        width: 460px;
        height: 258px;
    }
    .car-sofa .transforma.descripton
    {
        padding: 45px 0 0px !important;
    }
    .car-sofa .buy 
    {
        padding-top: 65px;
    }
    .car-sofa .why-we .items .item 
    {
        margin-bottom: 55px;
    }
    .car-sofa .transforma 
    {
        padding-bottom: 60px;
    }
    .car-sofa .video-silver-wash
    {
        padding: 25px 0 30px !important;
    }
    .car-sofa .block-4 .reviews 
    {
        padding: 54px 0 0px;
    }
    .car-sofa .bg-block-5 
    {
        background-image: url(../images/forma-bottom-bg2.png), url(../images/forma-bottom-bg.png) !important;
        background-size: 50%,87%;
    }
    .car-sofa .bg-block 
    {
        background-position: 95% bottom, right bottom !important;
        background-size: 50%,100%;
    }
	.lettino .lettino-block-4 
	{
    	background: url(../images/cat-bg.png) no-repeat 10% bottom;
	}
    .lettino .bg-block-5.magica-notte .block-5 .forma
    {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 30px;
    }
    .lettino .bg-block-5.magica-notte
    {
        background:  url(../images/lettino-bg-form-bottom.png) no-repeat top right !important;
        min-height: 738px;
        -webkit-background-size: cover !important;
        background-size: cover !important;
    }
    .cat .block
    {
        background-size: 20% , 50% !important;
    }
}
@media only screen and (max-width: 992px)
{
	.block
	{
		background-size: 920px !important;
		min-height: 667px;
	}
	.block h1.title
	{
		width: 360px;
		font-size: 33px;
	}
	.block .forma
	{
		width: 340px;
	}
	.block .forma form .select select
	{
		font-size: 12px;
		padding: 0px 30px 0 10px;
	}
	.block .forma form textarea
	{
		font-size: 12px;
		padding: 10px;
	}
	.block .forma form input[type="text"],
	.block .forma form input[type="email"],
	.block .forma form input[type="tel"]
	{
		font-size: 12px;
		padding: 0 10px;
	}
	.block .forma .button
	{
		width: 100%;
	}
	.block .forma p
	{
		font-size: 19px;
		margin-bottom: 5.7px;
	}
	.block .forma p:last-of-type
	{
		margin-bottom: 0 !important;
	}
	.video-block .video
	{
		width: 100%;
	}
	.video-block .video iframe
	{
		width: 100%;
		height: 450px;
	}
	.block-3 .text
	{
		width: calc(100% - 230px);
	}
	.block-3 img
	{
		width: 250px;
	}
	.block-4 .reviews .reviews-item
	{
		width: calc(100% / 2.05);
	}
	.block-5 .forma
	{
		width: 650px;
	}
	.block-5 .forma p
	{
		line-height: 1.2;
		margin-bottom: 50.3px;
	}
	.block-5 .forma form input[type="text"],
	.block-5 .forma form input[type="email"],
	.block-5 .forma form input[type="tel"],
	.block-5 .forma form textarea,
	.block-5 .forma form .select select
	{
		padding: 0 30px 0 10px;
	}
	.block-5 .forma form textarea
	{
		padding: 10px;
	}
	.block-5 .forma .button
	{
		margin-top: 0px;
		margin-bottom: 0;
	}
	.block-5 #tab3
	{
		padding-bottom: 45.5px;
	}
	.block-5 img
	{
		left: 40px;
	}
	.block .forma form
	{
		padding: 50px 20px 20px;
	}
	.block-2.magica-notte .item
	{
		width: calc(100% / 2.05);
	}
	.block-2.magica-notte .item:last-of-type
	{
		width: 100%;
	}
	.bg-block.magica-notte .block .forma::before
	{
		right: -125px;
		bottom: -15px;
		width: 140px;
		height: 145px;
	}
	.bg-block.magica-notte .block .forma
	{
		margin-bottom: 0px;
	}
	.silver-wash .bg-block h1.title
	{
		font-size: 60px;
	}
	.silver-wash .bg-block img.silver-wash
	{
		width: 300px;
	}
	.silver-wash .why-we .items .item
	{
		margin-bottom: 30px;
	}
	.silver-wash .why-we .items .item:nth-of-type(1) img
	{
		margin-right: 15px;
	}
	.silver-wash .why-we .items .item:nth-of-type(2) img
	{
		margin-right: 15px;
	}
	.silver-wash .why-we .items .item:nth-of-type(3) img
	{
		margin-right: 22px;
	}
	.silver-wash .why-we .items .item:nth-of-type(4) img
	{
		margin-right: 32px;
	}
	.silver-wash .why-we .items .item .description
	{
		max-width: 225px;
	}
	.silver-wash .why-we .items .item .description h5.title
	{
		font-size: 21px;
	}
	.silver-wash .why-we .items .item .description p.text
	{
		font-size: 16px;
	}
	.silver-wash .video-silver-wash iframe
	{
		width: 350px;
		height: 196px;
	}
	.silver-wash .buy .item
	{
		margin: 0px 15px;
		max-width: 310px;
	}
	.silver-wash .buy .item:nth-of-type(1)
	{
		margin-left: 0;
	}
	.silver-wash .buy .item:nth-of-type(2)
	{
		margin-right: 0;
	}
	.silver-wash .buy .item .bottom
	{
		padding: 0 28px 54px;
	}
	.silver-wash .description-block ul li
	{
		text-align: center;
	}
	.silver-wash .description-block ul li img
	{
		display: table;
		margin: 0 auto;
	}
	.silver-wash .description-block ul li p
	{
		padding-left: 0;
	}
    .car-sofa .why-we .item
    {
        text-align: center;
     }
    .car-sofa .why-we .item img 
    {
        margin: 0 auto !important;
        display: table;
    }
    .car-sofa .block h1.title 
    {
    
        font-size: 60px;
        font-family: 'GothamPro';
        padding-top: 30px;
        margin-bottom: 35px;
    }
    .car-sofa .bg-block .block
    {
        background: transparent;
    }
    .car-sofa .caratteristiche .content 
    {
        width: 440px;
        float: right;
    }
    .car-sofa .caratteristiche .content br
    {
        display: none;
    }
    .car-sofa .caratteristiche p.text 
    {
        font-size: 14px
    }
    .car-sofa .caratteristiche 
    {
        background-position: 0% 513px, left bottom;
    }
    .car-sofa .caratteristiche h2.title 
    {
        font-size: 44px;
    }
    .car-sofa .video-silver-wash iframe
    {
        width: 350px;
        height: 196px;
    }
	.lettino .block
	{
		background: transparent;
	}
	.lettino .video-block .video iframe
	{
		width: 100%;
	}
	.lettino .bg-block .block h1.title
	{
    	max-width: 370px;
    	width: auto;
	}
	.lettino .lettino-block-4
	{
		background-position: 10% bottom;  
    	background-size: 1100px;
		min-height: 405px
		
	}
	.lettino .lettino-block-4 .content h2.title
	{
		margin-top: 10px;
	}
	.lettino .lettino-block-4 .content ul 
	{
    	margin-top: 0px;
	}
	.lettino .lettino-block-4 .content ul li
	{
		line-height: 45px;
	}
    .lettino .bg-block-5.magica-notte .block-5 .forma
    {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0px ;
    }
    .lettino .bg-block-5.magica-notte
    {
        background:transparent !important;
        min-height: 738px;
        
    }
    .cat .block-3 img 
    {
        width: 45%;
    }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px)
{
    .block
    {
        background-image: none !important;
    }
	.bg-block.magica-notte
	{
		background: #edeef0;
	}
	.bg-block.magica-notte .block
	{
		background: transparent;
	}
	.block
	{
		min-height: inherit;
		background: #edeef0;
	}
	.block h1.title
	{
		text-align: center;
		margin: 28px auto 0;
	}
	.block p.text
	{
		text-align: center;
		margin: 16px auto 20px;
	}
	.block .forma
	{
		width: 420px;
		margin: 0 auto;
	}
	.block .forma form input
	{
		margin-bottom: 24.2px;
	}
	.block .forma form input[type="text"],
	.block .forma form input[type="email"],
	.block .forma form input[type="tel"],
	.block .forma form textarea,
	.block .forma form .select select
	{
		font-size: 14px;
	}
	.block .forma form p
	{
		font-size: 19px;
		margin-bottom: 0;
		line-height: 1.774;
	}
	.block .forma form p:last-of-type
	{
		margin-bottom: 0;
	}
	.video-block h4.title
	{
		font-size: 17px;
		margin-top: 10px;
	}
	.video-block h4.title i:before
	{
		font-size: 24px;
		top: 2px;
		margin-right: 0px;
	}
	.video-block .video iframe
	{
		width: 380px;
		height: 250px;
	}
	.video-block a.button
	{
		width: 260px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.block-3 .text
	{
		padding-left: 10px;
	}
	.block-3 .text p
	{
		font-size: 14px;
		line-height: 22px;
	}
	.block-3 .text h4.title
	{
		font-size: 16px;
		line-height: 24px;
	}
	.block-5 .forma
	{
		width: 420px;
	}
	.block-5 .forma form
	{
		padding: 44px 15px 20px !important;
	}
	.block-5 .forma form div
	{
		width: 100%;
	}
	.block-5 .forma form input[type="text"],
	.block-5 .forma form input[type="email"],
	.block-5 .forma form input[type="tel"],
	.block-5 .forma form select,
	.block-5 .forma form textarea,
	.block-5 .forma form.form2 input,
	.block-5 .forma form .select
	{
		font-size: 14px;
		width: 100%;
	}
	.block-5 .forma form p
	{
		line-height: 1.6;
		margin-bottom: 59.1px;
		font-size: 20px;
	}
	.block-5 .forma form #tab4 p
	{
		line-height: 1.1;
	}
	.block-5 .forma .button
	{
		margin-top: 3px;
	}
	.block-5 img
	{
		left: 8%;
		top: -80px;
		width: 499px;
	}
	#tab3
	{
		padding-bottom: 0;
	}
	.block-2.magica-notte
	{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.bg-block-3.magica-notte .block-3 .description
	{
		width: 100%;
	}
	.bg-block-3.magica-notte .block-3 h2.title
	{
		padding-top: 30px;
	}
	.block-4 .reviews
	{
		padding: 30px 0 30px;
	}
	.silver-wash .reviews
	{
		padding: 30px 0 45px;
	}
	.silver-wash .bg-block h1.title
	{
		font-size: 46px;
	}
	.silver-wash .bg-block h5.title
	{
		font-size: 26px;
	}
	.silver-wash .bg-block img.silver-wash
	{
		width: 160px;
	}
	.silver-wash .bg-block p.ordina,
	.silver-wash .bg-block p
	{
		font-size: 18px;
	}
	.silver-wash .bg-block a.button
	{
		width: 270px;
	}
	.silver-wash .bg-block img.silver-wash
	{
		width: 210px;
		bottom: 15px;
		left: 290px;
	}
	.silver-wash .why-we .items .item
	{
		text-align: center;
	}
	.silver-wash .why-we .items .item img
	{
		display: table;
		margin: 0 auto 20px !important;
	}
	.silver-wash .why
	{
		padding-bottom: 20px;
	}
	.silver-wash .ecco .description h2.title
	{
		margin-top: 30px;
	}
	.silver-wash .description-block h2.title
	{
		margin: 0px 0 30px;
	}
	.silver-wash .description-block ul li
	{
		width: 100%;
	}
	.silver-wash .description-block ul li p
	{
		width: 100%;
	}
	.silver-wash .video-silver-wash
	{
		padding: 20px 0 35px;
	}
	.silver-wash .video-silver-wash p.text
	{
		margin: 20px 0 30px;
	}
	.silver-wash .video-silver-wash iframe
	{
		margin: 0 auto 20px !important;
	}
	.silver-wash .buy .item
	{
		margin: 0px 15px;
		max-width: 260px;
	}
	.silver-wash .buy .item .bottom
	{
		padding: 0 15px 54px;
	}
	.silver-wash .buy .item .bottom a.button
	{
		width: 228px;
	}
    .car-sofa .block h1.title
    {
        font-size: 48px;
    }
    .car-sofa .video-silver-wash iframe 
    {
        margin: 0 auto 20px !important;
    }
	.lettino .video-block .video iframe
	{
		width: 380px;
	}
	.lettino .img-mobile
	{
		width: 100%;
		display: block;
	}
	
	.lettino .block .forma 
	{
    	margin-bottom:0px;
	}
	.lettino .bg-block
	{
		background: url(../images/lettiono-bg2.png) !important;
		-webkit-background-size: 100% !important;
		background-size: 100% !important;
	}
	.lettino .lettino-block-4 
	{
		background-position: 20% bottom;
	}
    .cat .block-3 img 
    {
        width: 35%;
    }
    .cat .block-5 img 
    {
        top: -178px;
        left: -27px;
    }
}
@media only screen and (max-width: 680px)
{
	.bg-block.magica-notte
	{
		background-image: none !important;
		background: #fff !important;
	}
	.bg-block.magica-notte .block
	{
		background: none !important;
	}
	.bg-block.magica-notte .block .forma
	{
		background-color: #fff !important;
		box-shadow: none;
	}
	.bg-block.magica-notte .block .forma .tab-content
	{
		box-shadow: 0px 6px 45.43px 13.57px rgba(0, 0, 0, 0.05);
	}
	.bg-block.magica-notte .block .forma:before
	{
		right: 0;
		bottom: 0px;
		width: 140px;
		height: 145px;
		position: relative;
		display: table;
		margin: 0 auto 20px;
	}
/*
    .car-sofa .bg-block
    {
        background-image: url(../images/sofa.png) !important;
        background-position: center bottom !important;
        background-size: 425px;

    }
*/
/*
    .car-sofa .bg-block .block
    {
        min-height: 1000px;
    }
*/
    .car-sofa .transforma .item
    {
        background-size: 67%;
    }
    .car-sofa .caratteristiche 
    {
        background: url(../images/caratteristiche-bg2.png)no-repeat;
    }
    .car-sofa .caratteristiche
    {
         background-position: center bottom !important;
        padding-bottom: 312px;
    }
    .car-sofa .caratteristiche .content
    {
        width: 100%;
       
    }
    .car-sofa .caratteristiche p.text:last-of-type
    {
        margin-top: 15px;
    }
    .car-sofa .caratteristiche h5.title,
    .car-sofa .caratteristiche p.text
    {
        margin-bottom: 15px;
    }
    .car-sofa .caratteristiche h2.title
    {
        margin: 0px 0 30px;
    }
    .car-sofa .transforma 
    {
        padding-bottom: 5px;
    }
    .car-sofa .bg-block-5 .block-5 .forma 
    {
        margin: 0px auto 30px !important;
    }
    .car-sofa .bg-block-5 {
        background-image: none !important;
    }
    .car-sofa .why-we .items .item 
    {
        width: 100%;
    }
	.car-sofa .block .forma
	{
		display: none !important; 
	}
	.car-sofa .block h1.title
	{
		text-align: left;
		margin-left: 0;
	}
	.car-sofa .bg-block 
	{
    	background-position: 95% center, left center !important;
    	background-size: 80%,175%;
	}
	.car-sofa .bg-block .block 
	{
    	min-height: 750px;
		position: relative;
	}
	.car-sofa .bg-block .button.mobile
	{
		position: absolute;
		bottom: 20px;
		display: block;
	}
	.lettino .lettino-block-4 .content h2.title
	{
		line-height: 1;
	}
	.lettino .lettino-block-4 
	{
		background: url(../images/cat-bg.png)no-repeat,url(../images/cat-bg2.png) center;
    	background-position: 10% bottom, 100%;
    	background-size: 100%, 100%;
	}
    .cat .block-3 .text
    {
        width: 100%;
        padding-left: 0;
        padding-top: 215px;
    }
    .cat .block-3 img 
    {
        width: 240px;
        right: initial !important;
    }
}
@media only screen and (max-width: 580px)
{
	.block-4 .reviews .reviews-slider
	{
		display: block;
	}
	.block-4 .reviews .reviews-slider p
	{
		margin-bottom: 0;
	}
	.block-4 .reviews .hide-mobile
	{
		display: none;
	}
	.block-4 .reviews .slick-prev,
	.block-4 .reviews .slick-next
	{
		width: 43px;
		height: 62px;
		top: 88px;
	}
	.block-4 .reviews .slick-prev:before,
	.block-4 .reviews .slick-next:before
	{
		content: '\f053';
		font-family: 'FontAwesome';
		font-size: 60px;
		color: #000;
	}
	.block-4 .reviews .slick-prev
	{
		left: 0;
	}
	.block-4 .reviews .slick-next
	{
		right: 0;
	}
	.block-4 .reviews .slick-next:before
	{
		content: '\f054';
	}
	.confirmation-page .confirmation .description img
	{
		width: 280px;
	}
	.confirmation-page .confirmation .description h2.title
	{
		font-size: 30px;
		margin-top: 30px;
	}
	.confirmation-page .confirmation .description p
	{
		font-size: 16px;
	}
	.block-2.magica-notte .item
	{
		width: 100%;
	}
	.bg-block-3.magica-notte img
	{
		width: 200px;
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.bg-block-3.magica-notte .block-3 h2.title
	{
		width: 100%;
	}
	.bg-block-5.magica-notte .block-5 .forma
	{
		width: 100%;
	}
	.bg-block-5.magica-notte .block-5 #tab3
	{
		padding-bottom: 0px;
	}
	.silver-wash h2.title
	{
		font-size: 36px !important;
	}
	.silver-wash .bg-block
	{
		background: url(../images/silver-bg.png)no-repeat !important;
		background-position: right top !important;
		background-size: 580px !important;
	}
	.silver-wash .bg-block .button
	{
		margin-bottom: 110px;
		height: 60px;
		line-height: 60px;
		font-size: 30px;
	}
	.silver-wash .bg-block img.silver-wash 
	{
    	width: 440px;
	}
    .silver-wash .ecco .description {
        text-align: left;
    }
	.silver-wash .bg-block h1.title
	{
		margin: 30px 0 10px;
	}
	.silver-wash .bg-block p.text
	{
		margin-bottom: 0px;
	}
	.silver-wash .bg-block h4.title
	{
		margin-top: 30px;
	}
	.silver-wash .bg-block img.silver-wash
	{
		position: initial;
		display: table;
		margin: auto;
	}
	.silver-wash .bg-block a.button
	{
		width: 100%;
	}
	.silver-wash .bg-block .content
	{
		padding-bottom: 0px;
	}
	.silver-wash .why-we
	{
		padding-top: 30px;
	}
	.silver-wash .why-we h2.title
	{
		margin-bottom: 30px;
	}
	.silver-wash .why-we .items .item
	{
		width: 100%;
		text-align: center;
	}
	
	.silver-wash .why-we .items .item img
	{
		display: table;
		margin: 0 auto 20px !important;
	}
	.silver-wash .why-we .items .item .description
	{
		max-width: 100%;
	}
	.silver-wash .why .item
	{
		width: 100%;
	}
	.silver-wash .ecco
	{
		min-height: inherit;
		background: transparent;
	}
	.silver-wash .buy
	{
		background: transparent;
	}
	.silver-wash .buy .items
	{
		display: block;
	}
	.silver-wash .buy .items .item
	{
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		max-width: none;
		margin-bottom: 20px;
		min-height: initial !important; 
	}
	.silver-wash .buy .item:nth-of-type(1) .bottom p
	{
		margin-top: 35px;
	}
	.silver-wash .buy .items .item .bottom a.button
	{
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.silver-wash .buy .items .item header h2.title sap
	{
		margin-top: 4px;
	}
	.silver-wash .description-block
	{
		padding-bottom: 40px;
		background: transparent;
	}
	.silver-wash .description-block h3.title
	{
		margin: 10px auto 20px !important;
	}
	.silver-wash .description-block ul
	{
		margin-bottom: 0;
	}
	.silver-wash .description-block ul li p span
	{
		padding-right: 0;
	}
	.silver-wash .description-block a.button + h3.title
	{
		margin-top: 30px !important;
	}
    .car-sofa .block h1.title 
    {
        font-size: 38px;
    }
    .car-sofa .transforma .item
    {
        background-size: 155px;
        width: 100%;
        background-position: center 47px;
		padding-left: 0;
		padding-right: 0;
    }
    .car-sofa .transforma h2.title 
    {
        font-size: 34px;
    }
    .car-sofa .transforma h2.title + p.text
    {
        margin-top: 30px;
    }
    .car-sofa .buy .items .item 
    {
        width: 100%;
        margin-right: 0 !important;
    }
	.car-sofa h2.title.form-bottom
	{
		margin-bottom: 30px;
	}
	
    .car-sofa .video-silver-wash h2.title,
    .car-sofa .block h1.title,
    .caratteristiche h2.title,
    .car-sofa .buy h2.title,
    .car-sofa .transforma h2.title,
	.car-sofa h2.title.form-bottom
    {
        font-size: 33px;
        line-height: 1.2;
    }
    .car-sofa .transforma.descripton h2.title span 
    {
        font-size: 30px;
        line-height: 1.2;
    }
    .car-sofa .transforma h2.title + p.text 
    {
        font-size: 18px;
        line-height: 1.2 !important;
    }
	.car-sofa .buy .items .item:nth-of-type(3n)
	{
		margin-right: 0 !important;
	}  
	.lettino .lettino-block-4 
	{
    	min-height: 535px;
	}
}
@media only screen and (max-width: 480px)
{
	.block
	{
		min-height: auto;
	}
	.block h1.title,
	.block p.text,
	.block .forma
	{
		width: 100%;
	}
	.block .forma form p
	{
		line-height: 1.4;
	}
	.block-3 .text
	{
		width: calc(100% - 140px);
		padding-left: 0px !important;
		float: left;
	}
	.block-3 img
	{
		width: 159px;
		right: 0;
	}
	.block-5
	{
		padding-top: 30px;
	}
	.block-5 .forma
	{
		width: 100%;
		display: block;
	}
	.block-5 .forma form input[type="text"],
	.block-5 .forma form input[type="email"],
	.block-5 .forma form input[type="tel"],
	.block-5 .forma form textarea,
	.block-5 .forma form .select select
	{
		font-size: 14px;
	}
	.block-5 .forma p
	{
		font-size: 18px;
		margin-bottom: 20px !important;
	}
	.block-5 img
	{
		top: -64px;
		width: 400px;
	}
	.bg-block-3.magica-notte img
	{
		width: 150px;
		margin-bottom: 20px;
		margin-top: 40px;
	}
	.block-5 #tab3
	{
		padding-bottom: 0px;
	}
   
    .car-sofa .bg-block .block 
    {
        min-height: 910px;
        padding-bottom: 200px;
    }
    .silver-wash .bg-block img.silver-wash
	{
    	width: 70%;
		margin: 0;
	}
	.silver-wash .bg-block 
	{
    	background-size: 480px !important;
	}
	.silver-wash .bg-block .button 
	{
		margin-bottom: 50px;
	}
	.car-sofa .bg-block .block 
	{
    	min-height: 590px !important;
	}
	.lettino .video-block .video iframe,
	.video-block .video iframe
	{
		width: 285px !important;
		height: 180px;
	}
	.lettino .lettino-block-4 .content h2.title 
	{
    	font-size: 33px;
    	width: 265px;
	}
	.lettino .lettino-block-4 .content ul li 
	{
		font-size: 16px;
		padding-left: 40px;
	}
	.lettino .lettino-block-4 .content ul li::before 
	{
    	width: 24px;
    	top: 13px;
    	background-size: 100%;
	}
	.lettino .lettino-block-4 
	{
    	min-height: 460px;
	}
    .cat .block-5 img
    {
        top: -140px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 390px)
{
	.car-sofa .video-silver-wash iframe {
    	width: 280px;
    	height: 156px;
	}
	.block h1.title
	{
		font-size: 26px;
	}
	.block .forma form
	{
		padding: 50px 15px 20px;
	}
	.block-3 .text
	{
		padding-bottom: 245px;
		width: 100%;
	}
	.block-3 img
	{
		left: 0;
		margin: 0 auto;
	}
	.block-5 .forma form
	{
		padding: 75px 15px 20px;
	}
	.block-5 .forma form .button
	{
		width: 100%;
	}
	.block-5 .forma p
	{
		font-size: 20px;
	}
	.block-5 img
	{
		top: -52px;
		width: 320px;
	}
	.video-block h2.title
	{
		font-size: 28px;
	}
	
	.bg-block-3.magica-notte img
	{
		margin-top: 0px;
	}
    .silver-wash .description-block .bottom-description a.button
	{
		width: 100%;
	}
	.silver-wash .video-silver-wash iframe
	{
		width: 280px;
		height: 156px;
	}
	.silver-wash .bg-block h1.title
	{
		font-size: 38px;
	}
    .car-sofa .video-silver-wash h2.title, 
    .car-sofa .block h1.title,
    .caratteristiche h2.title,
    .car-sofa .buy h2.title,
    .car-sofa .transforma h2.title
    {
        font-size: 28px !important;
        line-height: 1.2;
    }
    .car-sofa .transforma.descripton h2.title span
    {
        font-size: 26px !important;
    }
	.car-sofa .bg-block .block 
	{
    	min-height: 480px !important;
	}
	.lettino .lettino-block-4 
	{
    	min-height: 400px;
	}
	.cat .block-3 .text 
    {
        padding-bottom: 20px;
    }
    .cat .block-5 img 
    {
        top: -114px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0)
{
	.block .forma p
	{
		margin-bottom: -3px;
	}
	.block .forma .button
	{
		margin-top: 12px;
	}
	.block-5 .forma #tab3
	{
		padding-bottom: 19.9px;
	}
	.block-5 .forma .button
	{
		margin-top: 7px;
	}

}
@media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 992px)
{
	.block .forma p
	{
		font-size: 18px !important;
		margin-bottom: -6px !important;
		line-height: 1.6;
	}
	.block .forma p:last-of-type
	{
		margin-bottom: 0 !important;
	}
	.block-5 .forma p
	{
		line-height: 1.6 !important;
	}
	.block-5 .forma #tab4 p
	{
		margin-bottom: 10px !important;
	}
	.block-5 .forma #tab3
	{
		padding-bottom: 33.9px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px)
{
	.block .forma p
	{
		font-size: 17px !important;
		margin-bottom: -8px !important;
		margin-top: 12px;
	}
	.block-5 .forma #tab3
	{
		padding-bottom: 0;
	}
	.block-5 .forma p
	{
		margin-bottom: 17px !important;
		line-height: 1.4 !important;
		margin-top: 0;
		font-size: 22px !important;
	}
	.block-5 .forma form
	{
		padding: 44px 15px 20px;
	}
	.block-5 .forma .button
	{
		margin-top: 0 !important;
	}
	.block-5 .forma #tab4 p
	{
		font-size: 12px !important;
		margin: 0 0 10px !important;
	}
}
#page-preloader
{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100500;
	background: transparent;
}
#page-preloader .spinner
{
	width: 70px;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url('../images/preloader.gif') no-repeat 50% 50%;
	margin: -16px 0 0 -16px;
	background-size: contain;
}
.dark-side-of-moon
{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	height: 100vh;
	width: 100%;
}
main
{
	position: relative;
}

/*# sourceMappingURL=main.css.map */