//START FOOTER
footer
{
	background: #3498db;
	
	.copyright 
	{
		p
		{
			font-family: 'GothamPro';
			color: #fff;
			font-size: 14px;
			text-align: center;
			padding: 50px 0;
			
		}
	}
}
//END FOOTER