

@media only screen and (max-width : 1299px) 
{
    .block 
	{
		background-size: 1200px;
		
		
	}
	
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
{
	.block
	{
		background-size: 920px;
		min-height: 667px;
		
		h1.title
		{
			width: 360px;
			font-size: 33px;
		}
		.forma
		{
			width: 340px;
			
			form
			{
				.select
				{
					select
					{
						font-size: 12px;
						padding: 0px 30px 0 10px;
					}
				}
				textarea
				{
					font-size: 12px;
					padding: 10px;
				}
				input[type="text"],
				input[type="email"], 
				input[type="tel"]
				{
					font-size: 12px;
					padding:0 10px ;
				}
			}
			.button
			{
				width: 100%;
			}
			p
			{
				font-size: 18px;
				margin-bottom: 43.1px;
				
				&:last-of-type
				{
					margin-bottom: 0 !important;
				}
			}
		}
	}
	.video-block 
	{
		.video
		{
			width: 100%;
			
			iframe
			{
				width: 100%;
				height: 450px;
			}
		}
	}
	.block-3 
	{
		.text
		{
			width: calc(100% - 230px);
		}
		img
		{
			width: 250px;
		}
	}
	.block-4 
	{
		.reviews
		{
			.reviews-item 
			{
				width: calc(100% / 2.05);
			}
		} 
	}
	.block-5 
	{
		.forma
		{
			width: 650px;
			
			p
			{
				line-height: 1.2;
				margin-bottom: 50.3px;
			}
			form 
			{
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				textarea,
				.select select
				{
					padding: 0 30px 0 10px;
				}
				textarea
				{
					padding: 10px;
				}
			}
			.button 
			{
				margin-top: 0px;
				margin-bottom: 0;
			}
		}
		#tab3 
		{
    		padding-bottom: 143.9px;
		}
		img
		{
			left: 40px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 
{
	
	.block 
	{
		min-height: inherit;
		background: #edeef0;
		h1.title
		{
			text-align: center;
			margin: 28px auto 0;
		}
		p.text
		{
			text-align: center;
			margin: 16px auto 20px;
		}
		.forma 
		{
    		width: 420px;
    		margin: 0 auto;
			
			form 
			{
				input
				{
					margin-bottom: 24.2px;
				}
				input[type="text"], 
				input[type="email"],
				input[type="tel"],
				textarea,
				.select select
				{
					font-size: 14px;
				}
				p 
				{
    				font-size: 21px;
					line-height: 1.3;
					margin-bottom: 44.8px;
					
					&:last-of-type
					{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.video-block 
	{
		h4.title
		{
			font-size: 17px;
			margin-top: 10px;
			i
			{
				&:before
				{
					font-size: 24px;
					top: 2px;
					margin-right: 0px;
				}
			}
			
		}
		.video 
		{
			iframe 
			{
				width: 380px;
				height: 250px;
			}
		}
		a.button 
		{
    		width: 260px;
    		height: 40px;
			line-height: 40px;
			font-size: 16px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
	}
	.block-3 
	{
		.text
		{
			padding-left: 10px;
			
			p
			{
				font-size: 14px;
				line-height: 22px;
			}
			h4.title
			{
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	.block-5
	{
	 
		.forma 
		{
			width: 420px;
			form
			{
				padding: 44px 15px 20px !important;
				div
				{
					width: 100%;
				}
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				select,
				textarea,
				&.form2 input,
				.select
				{
					font-size: 14px;
					width: 100%;
				}
				p
				{
					line-height: 1.6;
					margin-bottom: 59.1px;
					font-size: 20px;
					
				}
				#tab4
				{
					p
					{
						line-height: 1.1;
					}
				}

    
			}
			.button
			{
				margin-top: 3px;
			}
			
		}
		
		img
		{
			left: 8%;
			top: -80px;
			width: 499px;
		}
	}
	#tab3 
	{
    	padding-bottom: 0;
	}
}

@media only screen and (max-width : 580px) 
{
	.block-4 
	{	.reviews 
		{
			.reviews-slider
			{
				display: block;
				
				p
				{
					margin-bottom: 0;
				}
			}
			.hide-mobile
			{
				display: none;
			}
			
			.slick-prev,
			.slick-next
			{
				width: 43px;
				height: 62px;
				top: 88px;
				&:before
				{
					content: '\f053';
					font-family:'FontAwesome';
					font-size: 60px;
					color: #000;
				}
			}
			.slick-prev
			{
				left: 0;

			}
			.slick-next
			{
				right: 0;
				
				&:before
				{
					
					content: '\f054';
				}
			}
		}
	}
	.confirmation-page
	{
		.confirmation
		{
			.description
			{
				img
				{
					width: 280px;
				}
				 h2.title 
				{
					font-size: 30px;
					margin-top: 30px;
					 
				}
				p
				{
					font-size: 16px;
				}
			}
		}
	}
}
@media only screen and (max-width : 480px) 
{
	.block 
	{
		min-height: auto;
		
		h1.title,
		p.text,
		.forma
		{
			width: 100%;
		}
		
		
	}
	.block-3
	{
		.text
		{
			width: calc(100% - 140px);
			padding-left: 0px !important;
			float: left;
		}
		img 
		{
    		width: 159px;
    		right: 0;
		}
	}
	.block-5 
	{
		padding-top: 30px;
		.forma
		{
			width: 100%;
			display: block;
			form 
			{
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				textarea,
				.select select
				{
					font-size: 14px;
				}

			}
			p 
			{
				font-size: 18px;
				margin-bottom: 20px !important;
			}
		}
		
		img
		{
			top: -64px;
			width: 400px;
		}
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) 
{
	.block
	{
		h1.title
		{
			font-size: 26px;
		}
		.forma 
		{
			form 
			{
				padding: 50px 15px 20px;
			}
		}
	}
	
	.block-3
	{
		.text
		{
			padding-bottom: 245px;
			width: 100%;
		}
		img
		{
			left: 0;
			margin: 0 auto;
		}
	}
	.block-5
	{
		.forma
		{
			form
			{
				padding: 75px 15px 20px;
				
				.button
				{
					width: 100%;
				}
			}
			p
			{
				font-size: 20px;
			}
		}
		img
		{
			top: -52px;
			width: 320px;
		}
	}
	.video-block 
	{
		h2.title
		{
			font-size: 28px;
		}
		.video 
		{
			iframe 
			{
    			width: 285px;
    			height: 180px;
			}
		}
	}
} 
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	.block 
	{
		.forma 
		{
			p
			{
				margin-bottom: 31px;
			}
			.button 
			{
				margin-top: 12px;
			}
		}
	}
	.block-5 
	{
		.forma 
		{
			#tab3 
			{
				padding-bottom: 169.9px;
			}		
			.button 
			{
				margin-top: 7px;
			}
		}
	}
	@media only screen and (max-width : 992px) 
	{
		.block 
		{
			.forma
			{
				p
				{
					font-size: 18px !important;
					margin-bottom: 42px !important;
					line-height: 1.6;
					
					&:last-of-type
					{
						margin-bottom: 0 !important;
					}
				}
			}
		}
		.block-5
		{
			.forma
			{
				p
				{
					line-height: 1.6 !important;
					
					

				}
				#tab4
				{
					p 
					{
						margin-bottom: 10px !important;
					}
				} 
				#tab3
				{
    				padding-bottom: 133.9px;
				}
			}
			
		} 
	}
	@media only screen and (max-width : 768px)
	{
		.block .forma p 
		{
			font-size: 20px !important;
			margin-bottom: 45px !important;
			margin-top: 12px;
		}
		.block-5
		{
			
			.forma
			{
				#tab3 
				{
    				padding-bottom: 0;
				}
				p 
				{
					margin-bottom: 17px !important;
					line-height: 1.4 !important;
					margin-top: 0;
					font-size: 22px !important;
				}
				form
				{
					 padding: 44px 15px 20px;
				}
				.button
				{
					margin-top: 0 !important;
				}
				#tab4
				{
					p
					{
						font-size: 12px !important;
						margin: 0 0 10px !important;
					}
				}
			} 	
		} 
		
		
	}
	@media only screen and (max-width : 464px)
	{
		.block
		{
			.forma
			{
				p 
				{
					margin-bottom: 20px !important;
					margin-top: 5px;
				}	
			}	
		} 
		 
		
	}
	
}