@import "reset";
@import "header";
-webkit-input-placeholder
{
	color: #b3b3b3 !important;

}
-moz-placeholder
{
    color: #b3b3b3 !important;

}

-moz-placeholder
{
	color: #b3b3b3 !important;

}

-ms-input-placeholder
{
	color: #b3b3b3 !important;

}
.block
{
	background: #edeef0 url(../images/banner.jpg)no-repeat;
//	min-height: 731px;
	background-position: right bottom;
	background-size: 1920px;
	
	h1.title
	{
		font-family: 'GothamPro';
		font-weight: 900;
		font-size: 48px;
		color: #3498db;
		width: 520px;
		margin-top: 28px;
		line-height: 1.2;
	}
	p.text
	{
		font-family: 'GothamPro';
		font-weight: 300;
		font-size: 18px;
		color: #000;
		margin-top: 16px;
		margin-bottom: 20px;
		width: 390px;
	}
	.forma
	{
		box-shadow: 0px 6px 45.43px 13.57px rgba(0, 0, 0, 0.05);
		width: 458px;
		background-color: #fff;
		
		form
		{
			padding: 50px 55px 20px;
			text-align: center;
			background: #fff;
			
			input
			{
				&.error 
				{
					border: 1px solid red !important;
				}
				&.success
				{
					border: 1px solid green !important;
				}
			}
			&.form2
			{
				padding-top: 40px;
				
				input
				{
					margin-bottom: 8px;
				}
				.button
				{
					margin-top: 25px;
				}
			}
			input
			{
				width: 100%;
				height: 35px;
				margin-bottom: 21px;
				padding: 0 20px;
				
				
				&[type="text"],
				&[type="email"],
				&[type="tel"]
				{
					background-color: #ffffff;
					border: 1px solid #cccccc;
					font-size: 13px;
					font-weight: 500;
					line-height: 37px;
					color: #000;
					box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
				}
			}
			textarea
			{
				width: 100%;
				height: 79px;
				font-size: 13px;
				font-weight: 500;
				color: #b3b3b3;
				border: 1px solid #cccccc;
				box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
				resize: none;
				padding: 10px 20px;
			}
			.select
			{
				display: block;
				position: relative;
				&:before
				{
					content: '\f078';
					font-family: 'FontAwesome';
					position: absolute;
					right: 13px;
					top: 22px;
					font-size: 7px;
					color: #3498db;
					pointer-events: none;
				}
				& + p
				{
					margin-bottom: 0 !important;
				}
				select
				{
					width: 100%;
					height: 34px;
					border: 1px solid #cccccc;
				    box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
					margin-top: 9px;
					font-weight: 500;
					font-size: 13px;
					color: #000;
					padding:0 40px 0 20px;
					-webkit-appearance: none;
					-moz-appearance: none;
					-ms-appearance: none;
					appearance: none!important;
					cursor: pointer;
					
					&:-ms-expand 
					{
  						display: none;
					}
				}
			}
		}
		.nav-tabs
		{
			height: 8px;
			
			li
			{
				width: calc(100% / 2 - 0.40px);
				display: inline-block;
				vertical-align: top;
				
				
				&:nth-of-type(1)
				{
					margin-right: -2px;
				}
				&:nth-of-type(2)
				{
					margin-left: -2px;
				}
				a
				{
					display: block;
					text-align: center;
					color: #000;
					font-size: 16px;
					line-height: 40px;
					background-color: #f5f5f5;
				}
				&.active
				{
					a
					{
						background-color: #2ecc71;
						color: #fff;
					}
				}
			}
		}
		.tab-pane
		{
			display: none;
			
			&.active
			{
				display: block;
			}
		}
		p
		{
			font-weight: 400;
			font-size: 20px;
			font-family: 'GothamPro';
			margin-bottom: 29px;
			line-height: 1.5;	
		}
		.button
		{
			background-color: #3498db;
			width: 306px;
			height: 42px;
			line-height: 42px;
			color: #fff;
			font-weight: 900;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'GothamPro';
			border:none;
			display: table;
			margin: 8px auto 0;
			
			&:hover
			{
				background: #2383ba; 
			}
		}
		img.ajax-loader
		{
			display: none;
		}
	}
}
.video-block
{
	text-align: center;
	.video
	{
		position: relative;
		width: 750px;
		display: table;
		margin: 50px auto 37px;
		overflow: hidden;
		
		iframe
		{
			width: 100%;
    		height: 468px;
		}
	}
	h2.title
	{
		font-size: 36px;
		font-weight: 700;
		font-family: 'GothamPro';
	}
	h4.title
	{
		font-family: 'GothamPro';
		font-size: 24px;
		color: #2ecc71;
		font-weight: 700;
		vertical-align: middle;
		margin-top: 24px;
		
		i
		{
			&:before
			{
				font-size: 36px;
				color: #439edc;
				line-height: 1;
				position: relative;
				top: 3px;
				margin-left: 2px;
				margin-right: 10px;
			}
		}
		span
		{
			color: #000;
			font-weight: 400;
			position: relative;
			
			
			&:before
			{
				content: '';
				width: 100%;
				position: absolute;
				height: 1px;
				background: #000;
				top: 50%;
				left: 0;
				right: 0;
			}
		}
	}
	a.button
	{
		width: 360px;
		height: 62px;
		line-height: 62px;
		background: #3498db;
		text-align: center;
		display: table;
		margin: 0 auto;
		font-size: 18px;
		font-weight: 900;
		font-family: 'GothamPro';
		color: #fff;
		margin-top: 40px;
		margin-bottom: 70px;
		&:hover
		{
			background: #2383ba; 
		}
	}
}
.block-3
{
	background-color: #f5f5f5;
	
	.col-lg-12
	{
		position: relative;
	}
	img
	{
		display: inline-block;
		position: absolute;
		bottom: 0;
	}
	.text
	{
		display: inline-block;
		width: calc(100% - 345px);
		vertical-align: top;
		padding-top: 28px;
		float: right;
		padding-left: 70px;
		padding-bottom: 35px;
		
		h4.title
		{
			color: #3498db;
			font-family: 'GothamPro';
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			color: #3498db;
			margin-top: 25px;
			margin-bottom: 3px;
		}
		p
		{
			color: #000;
			font-weight: 300;
			font-size: 18px;
			line-height: 30px;
			font-family: 'GothamPro';
			
		}
	}
}
.block-4
{
	.reviews
	{
		padding: 84px 0 110px;
		
		.reviews-item
		{
			width: calc(100% / 3.05);
			display: inline-block;
			vertical-align: top;
			text-align: center;
			padding: 0 15px; 
			.photo
			{
				
				width: 169px;
				height: 169px;
				border-radius: 50%;
				background-size: cover;
				display: table;
				margin: 0 auto 18px;
			}
			h3.title
			{
				font-family: 'GothamPro';
				font-weight: 500;
				font-size: 24px;
				color: #489fdd;
				
			}
			p
			{
				font-size: 16px;
				font-weight: 300;
				font-family: 'GothamPro';
				margin:20px 0 60px;
			}
		}
		.reviews-slider
		{
			display: none;
		}
	}
}
.block-5
{
	img
	{
		position: absolute;
		top: -125px;
		left: 125px;
		right: 0;
		display: table;
		margin: 0 auto;
		z-index: 0;
		pointer-events: none;
	}
	background-color: #f5f5f5;
	padding-top: 55px;
	.forma
	{
		box-shadow: 0px 6px 45.43px 13.57px rgba(0, 0, 0, 0.05);
		background-color: #fff;
		width: 750px;
		margin: 0 auto;
		display: table;
		form
		{
			input
			{
				&.error 
				{
					border: 1px solid red !important;
				}
				&.success
				{
					border: 1px solid green !important;
				}
			}
			padding: 45px 50px 20px;
			text-align: center;
			background: #fff;
			
			&.form2
			{
				padding-top: 40px;
				
				input
				{
					margin-bottom: 12px;
				}
				.button
				{
					margin-top: 15px;
					margin-bottom: 0 !important;
				}
				p
				{
					font-size: 14px;
					font-weight: 400;
					margin-bottom: 0;
					font-family: 'GothamPro';
				}
			}
			div
			{
				width: 405px;
				margin-left: auto;
				margin-right: auto;
			}
			input
			{
				width: 405px;
				height: 45px;
				margin-bottom: 25.8px;
				padding: 0 20px;
				
				&.error 
				{
					border: 1px solid red;
				}
				&.saccess
				{
					border: 1px solid green;
				}
				
				&[type="text"],
				&[type="email"],
				&[type="tel"]
				{
					background-color: #ffffff;
					border: 1px solid #cccccc;
					font-size: 16px;
					line-height: 47px;
					font-weight: 500;
					color: #000;	
					box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
					
				}
			}
			textarea
			{
				width: 405px;
				height: 105px;
				font-size: 16px;
				font-weight: 500;
				color: #b3b3b3;
				border: 1px solid #cccccc;
				box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
				resize: none;
				padding: 10px 20px;
			}
			.select
			{
				margin: 0 auto 15px;
				width: 405px;
				display: table;
				position: relative;
				&:before
				{
					content: '\f078';
					font-family: 'FontAwesome';
					position: absolute;
					right: 13px;
					top: 26px;
					font-size: 10px;
					color: #3498db;
					pointer-events: none;
				}
				
				select
				{
					width: 100%;
					height: 45px;
					border: 1px solid #cccccc;
				    box-shadow: inset 0px 0px 5px rgba(204, 204, 204, 0.8);
					margin-top: 10px;
					font-weight: 500;
					font-size: 16px;
					color: #000;
					padding:0 40px 0 20px;
					-webkit-appearance: none;
					-moz-appearance: none;
					-ms-appearance: none;
					appearance: none!important;
					cursor: pointer;
					
					&:-ms-expand 
					{
  						display: none;
					}
				}
			}
		}
		.nav-tabs
		{
			height: 8px;
			
			li
			{
				width: calc(100% / 2 - 0.40px);
				display: inline-block;
				vertical-align: top;
				
				
				&:nth-of-type(1)
				{
					margin-right: -2px;
				}
				&:nth-of-type(2)
				{
					margin-left: -2px;
				}
				a
				{
					display: block;
					text-align: center;
					color: #000;
					font-size: 16px;
					line-height: 40px;
					background-color: #f5f5f5;
				}
				&.active
				{
					a
					{
						background-color: #2ecc71;
						color: #fff;
					}
				}
			}
		}
		.tab-pane
		{
			display: none;
			
			&.active
			{
				display: block;
			}
		}
		#tab4
		{
			p
			{
				font-size: 12px;
				margin: 25px 0 0px;
			}
			.button
			{
				margin: 0 auto !important;
			}
			form
			{
				padding: 45px 50px 20px;
				
				input
				{
					margin-bottom: 10px;
				}
			}
		}
		p
		{
			font-weight: 400;
			font-size: 24px;
			font-family: 'GothamPro';
			margin-bottom: 23px;
			color: #000;
			line-height: 1.5;
    		margin: 0 auto ;
			
			&:last-of-type
			{
				margin-bottom: 0 !important;
			}
		}
		.button
		{
			background-color: #3498db;
			width: 306px;
			height: 42px;
			line-height: 42px;
			color: #fff;
			font-weight: 900;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'GothamPro';
			border:none;
			margin-top: 2px;
			
			
			&:hover
			{
				background: #2383ba; 
			}
		}
	}
}
.confirmation-page
{
	& + footer
	{
		background: transparent;
		.copyright
		{
			p
			{
				color: #000;
			}
		}
	}
	.confirmation
	{
		min-height:calc(100vh - 136px) ;
		position: relative;
		
		h2.title
		{
			font-size: 48px;
			font-weight: 900;
			color: #3498db;
			font-family: 'GothamPro';
			margin-top: 74px;
			margin-bottom: 5px;
		}
		p
		{
			margin-top: 30px;
			font-size: 24px;
			font-family: 'GothamPro';
			font-weight: 300;
			color: #000;
			
		
		}
		.button
		{
			background-color: #3498db;
			width: 306px;
			height: 42px;
			line-height: 42px;
			color: #fff;
			font-weight: 900;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'GothamPro';
			border:none;
			margin-top: 2px;
		}
		.description 
		{
			padding-top: 67px;
			
		}
	}
}

form
{
	div
	{
		position: relative;
	}
}
.error 
{
	& + .error-messages
	{
		display: block;
	}
}
.error-messages
{
	display: none;
	position: absolute;
    font-size: 12px !important;
    bottom: 4px;
    margin-bottom: 0 !important;
    color: #f00 !important;
}
.wpcf7-form-control-wrap + p
{
	display: none;
}
#tab3 {
    padding-bottom: 170.9px;
}
.confirmation-page 
{
	.confirmation
	{
		.last
		{
			margin-top: 60px !important;
		}
	}
}

@import "footer";
@import "media";   